@font-face {
  font-family: "SocialFoundicons";
  src: url("social_foundicons.eot");
  src: url("social_foundicons.eot?#iefix") format("embedded-opentype"), 
	   url("social_foundicons.woff") format("woff"), 
	   url("social_foundicons.ttf") format("truetype"), 
	   url("social_foundicons.svg#SocialFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GeneralFoundicons";
  src: url("general_foundicons.eot");
  src: url("general_foundicons.eot?#iefix") format("embedded-opentype"), 
	   url("general_foundicons.woff") format("woff"), 
	   url("general_foundicons.ttf") format("truetype"), 
	   url("general_foundicons.svg#GeneralFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}