*:before,
*:after  { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* { margin: 0; padding: 0; border: 0; outline:none;}

html {
	height:100%;
	width: 100%;
	overflow:hidden;
}

body {
	font-family:"Open Sans", sans-serif;
	height:100%;
	width: 100%;
}

body > #wrapper {height: auto; min-height: 100%; width:100%;}

.center {clear: both;
    content: "";
    display: block;
    margin: 0 auto;
    max-width: 1020px;
    min-width: 640px;
    width: 100%;
}

#wrapper {
	width:100%;
	height:100%;
	position:relative;
	min-width:640px;
}

header {
	position:relative;
	display:block;
	width:95%;
	float:left;
	padding:25px 20px;
	max-width:980px
	min-width:640px;
	z-index:9999999;
}

.site-content {
	position:relative;
	float:left;
	display:block;
	width:100%;
	left:0;
	top:0;
	color:#fff;
}

.site-content .font-center {
	text-align:center;
}

.site-content h2, 
.site-content h3 {
	width:100%;
	display:block;
}

.site-content h2.heading {
	font-size:45px; 
	font-weight:lighter;
}

.site-content h3.description {
	font-size:28px; 
	font-weight:lighter;
}

.site-content p {
	font-size: 16px;
	margin: 0 0 15px 0;
	line-height: 24px;
}

footer {
	position: relative;
	margin-top: -100px;
	height: 100px;
	clear:both;
	display:block;
	width:100%;
	float:left;
	color:#fff;
}


.company-name {
	width:100%;
	display:block;
	text-decoration:none;
	font-family: 'Open Sans';
	font-weight:bold;
	color:inherit;
	font-size:16px;
	text-align:center;
	float:left;
}

.logo {
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	text-decoration:none;
	float:left;
}

.logo .img-inner {
	max-width:200px;
	max-height:200px;
	margin: 0 auto;
	display:block;
}	

.logo img {
	float:left;
	height:100%;
	width:100%;
}

.site-title {
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
}


.login-form {
	float:right;
	display:block;
	width:auto;
	margin:7px 0 0 0;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	color:inherit;
	background-color: rgba(113,113,113, 0.6);
    background-position: 14px center;
    background-repeat: no-repeat;
    float: left;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 14px 0 0;
    max-width: 100px;
    padding: 5px 16px 5px 40px;
    width: 100px;
	display:block;
	line-height: 28px;
	outline:none;
}



.ie8 .login-form input[type="text"],
.ie8 .login-form input[type="password"],
.ie7 .login-form input[type="text"],
.ie7 .login-form input[type="password"] {
	background-color:#717171;
}


.login-form .licon,
.login-form .picon {
	position:relative;
	float:left;
	display:none;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: .5;
	-khtml-opacity: .5;
	opacity: .5;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}

.ie7 .login-form .licon,
.ie7 .login-form .picon {
	margin:8px 0 0 0;
}

.login-form .licon:before,
.login-form .picon:before {
	position:absolute;
	font-weight: normal;
	font-style: normal;
	font-size:20px;
	color:inherit;
	text-decoration: inherit;
	display: block;
	width: auto;
	height: auto;
	line-height: inherit;
	vertical-align: baseline;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
	top: 8px;
	left: 10px;
}

.login-form .licon:before {
	content: "\f019";
	font-family: "SocialFoundicons";
}

.ie7 .login-form .licon:before {
	*zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf019;");
}	
 

.login-form .picon:before {
	content: "\f01b";
	font-family: "GeneralFoundicons";
}

.login-form .licon.error:before,
.login-form .picon.error:before {
	content: "\f006";
	font-family: "GeneralFoundicons";
	color:red;
}

.login-form input[type="submit"] {
	color:inherit;
	font-size:25px;
	font-family: 'Open Sans', sans-serif;
	background:none;
	font-weight:bold;
    float: left;
	cursor:pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: .5;
	-khtml-opacity: .5;
	opacity: .5;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}
.login-form.active:hover .licon, 
.login-form.active:hover .picon, 
.login-form.active:hover input[type="submit"] {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.preloader {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 99999991;
}


.preloader i {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 58px;
    left: 50%;
    margin: -29px 0 0 -25px;
    position: absolute;
    top: 50%;
    width: 50px;
}

.preloader i:before {
	position:absolute;
	font-weight: normal;
	font-style: normal;
	font-size:50px;
	color:inherit;
	text-decoration: inherit;
	display: block;
	width: auto;
	height: auto;
	line-height: inherit;
	vertical-align: baseline;
	background-image: none;
	background-position: center center;
	background-repeat: repeat;
}

.preloader i:before {
	content: "\f000";
	font-family: "GeneralFoundicons";
	
	-webkit-animation-name: spin;
    -webkit-animation-duration: 2200ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2200ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2200ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 2200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
	
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

::-webkit-input-placeholder { /* WebKit browsers */
	font-size:20px;
	color:inherit;
	font-family: 'Open Sans', sans-serif;
	opacity:1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-size:20px;
	color:inherit;
	font-family: 'Open Sans', sans-serif;
	opacity:1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-size:20px;
	color:inherit;
	font-family: 'Open Sans', sans-serif;
	opacity:1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	font-size:20px;
	color:inherit;
	font-family: 'Open Sans', sans-serif;
	opacity:1;
}

#vague-svg-blur {
	width:0;
	height:0;
	display:inline;
}

@media screen and (max-width: 768px) {
	.logo {width:100%; text-align:center; margin:0 0 20px 0;}
	header {padding:25px 0;}
	.login-form { margin:0 auto; float:none; width:100%; max-width:430px;}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	.logo {width:100%; text-align:center; margin:0 0 20px 0;}
	.logo img {float:left; max-width:200px; max-height:200px;}	
	header {padding:25px 0;}
	.login-form { margin:0 auto; float:none; width:100%; max-width:430px;}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
	.logo {width:100%; text-align:center; margin:0 0 20px 0;}
	header {padding:25px 0;}
	.login-form { margin:0 auto; float:none; width:100%; max-width:430px;}
	
	html { overflow: auto;}
	#wrapper 		{ min-width: 100%; }
	.center 			{ min-width:100%; }
	.site-content 	{ margin: 30px 0;	position: inherit !important;	top: 0 !important;	}
	header {width: 100%;}
	footer {margin:0;}
	footer .company-name {margin: 0 0 10px 0;}
	.user-content {padding:0 15px; width:auto;}
}

@media screen and (max-width: 480px) {
	html 			{ overflow: auto;}
	body > #wrapper	{ min-width: 0; min-height: 0;}
	.center 			{ min-width:0 }
	.site-content 	{ margin: 30px 0;	position: inherit !important;	top: 0 !important;	}
	.social 			{ width:auto !important; margin:0 0 20px 0 !important; padding: 0 5px;}
	.social .socialicon {margin: 0 0 10px 20px;}
	.site-content h2, .site-content h3 { display: block; padding: 0 5px; width: auto; }
	#countdown {max-width:298px;}
	#countdown .countDevider { height: 192px; }
	header {width: 100%;}
	footer {margin:0;}
	footer .company-name {margin: 0 0 10px 0;}
	.site-content h2.heading { font-size: 32px; }
	.site-content h3.description { font-size: 26px; }
	#mailchimp-box h3 { font-size: 16px; }
	.login-form { display: block; margin: 0 auto; max-width: 328px;}
	.login-form input[type="submit"] { margin: 15px 118px 0; }
	#mailchimp-box form {width:304px;}
	#mailchimp-box form input[type="email"] { max-width: 242px; }
	#mailchimp-box form input[type="submit"] { margin: 5px 85px 0; }
	.login-form input[type="password"] { margin:0; }
	.user-content {padding:0 5px; width:auto;}
	#countdown .countDevider.countDiv1 {width:1px;}
}


@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
	html 			{ overflow: auto; }
	body > #wrapper	{ min-width: 0; min-height: 0;}
	.center 			{ min-width:0 }
	.site-content 	{ margin: 30px 0;	position: inherit !important;	top: 0 !important;	}
	.social 			{ width:auto !important; margin:0 0 20px 0 !important; padding: 0 5px;}
	.social .socialicon {margin: 0 0 10px 20px;}
	.site-content h2, .site-content h3 { display: block; padding: 0 5px; width: auto; }
	#countdown {max-width:298px;}
	header {width: 100%;}
	footer {margin:0;}
	footer .company-name {margin: 0 0 10px 0; float:left; display:block;}
	.site-content h2.heading { font-size: 26px; }
	.site-content h3.description { font-size: 20px; }
	#mailchimp-box h3 { font-size: 16px; }
	.login-form { display: block; margin: 0 auto; max-width: 310px;}
	.login-form input[type="submit"] { margin: 15px 118px 0; }
	#mailchimp-box form input[type="email"] { max-width: 242px; }
	#mailchimp-box form input[type="submit"] { margin: 5px 85px 0; }
	.login-form input[type="text"], .login-form input[type="password"] { max-width: 90px; width: 90px; }
	.login-form input[type="password"] { margin:0; }
	.user-content {padding:0 5px; width:auto;}
	#countdown .countDevider.countDiv1 {width:1px;}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
	.site-content h2.heading { font-size: 36px; }
	.site-content h3.description { font-size: 28px; }	
}

@media screen and (max-height: 768px) {
	html { overflow: auto; }
	.site-content 	{ margin: 30px 0;	position: inherit !important;	top: 0 !important;	}
	footer {margin:0;}
}